<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 4rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-5 text-uppercase " >Registration</h2>

                <form [formGroup]="signupForm" (ngSubmit)="signUp()" class="was-validated">
                
                  <!-- <p class=" mb-5"></p> -->
                <div class="form-outline form-white mb-3">
                    <label class="form-label" for="username">UserName</label>
                  <input formControlName="userName" placeholder="Enter Your UserName" type="username" id="usernmae" class="form-control form-control-lg" required/>
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>
  
                <div class="form-outline form-white mb-3">
                    <label class="form-label" for="typeEmailX">Email</label>
                  <input formControlName="email" type="email" placeholder="Enter Your Email ID" id="typeEmailX" class="form-control form-control-lg" required />
                  <div class="invalid-feedback">Please fill out this field.</div>                                  
                </div>
                  
  
  
                <div class="form-outline form-white mb-3">
                    <label class="form-label" for="typePasswordX">Password</label>
                  <input formControlName="password" type="text"  placeholder="Enter Your password" id="typePasswordX" class="form-control form-control-lg" required />
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>

  
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>

                <p class="mb-0">Already a user ?  <a href="#!" class="text-white-50 fw-bold"></a>
                  <a routerLink="/login" >Login</a>
                </form>
                </div>
              
              
         
             </div>
             
          </div>
        </div>
      </div>
    </div>
  </section>